ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: beige;
    }
    li {
    float: left;
    border-right: 1px solid #377011;
    }
    li:last-child {
    border-right: none;
    }
    li a {
    display: block;
    color: rgb(2, 85, 27);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    li a:hover:not(.active) {
    background-color: green;
    display: inline-block
    }
    .active {
    background-color: #dbe682;
    /* height: 25px; */
    }

    .iconImage {
        height: 15px;
        width: 15px;
        display: inline-block
    }